*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #d4ebf4;
}

.weather-project{
    margin: 100px auto 0;
    border-radius: 20px;
    padding:40px 35px;
    width: 90%;
    max-width: 600px;
    color: #000000;
    text-align: center;
    background: linear-gradient(135deg, #ffffff, #def1ff);
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

form{
    display: flex;
}

header{
    border-bottom: 1px solid #d4ebf4;
    padding: 0 0 20px 0;
}

.search-input{
    background-color: #d4ebf4;
    width: 80%;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    font-size: 13px;
}

.search-button{
    background-color: #d4ebf4;
    padding: 15px 20px;
    border: none;
    border-radius: 6px;
    margin-left: 15px;
    font-size: 13px;
}

.current-temperature-icon{
    width: 170px;
    margin-top: 30px;
}

.current-temperature h1{
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 30px;
}

span{
    font-size: 14px; 
    color: grey;
}

.current-temperature h2{
    font-size: 25px;
    font-weight: 400;
    margin: -10px;
}

.time{
    padding: 0px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.col{
    display: flex;
    align-items: center;
    text-align:left;
    margin-left: 70px;
}

.col img{
    width: 60px;
    margin-right: 10px;
}

.humidity, .Wind{
    font-size: 15px;
    margin-top:-6px;
}

footer{
    font-size: 12px; 
    color: grey;
    border-top: 1px solid #d4ebf4;
    padding: 20px 0 0 0;
    text-align: center;
}